<div>
  <p>
    <label for="type-text">Type <code>text</code></label>
  </p>
  <p>
    <input name="type-text" id="type-text" disabled>
  </p>
</div>

<div>
  <p>
    <label for="type-text-datalist">Type <code>text</code> with <code>datalist</code></label>
  </p>
  <p>
    <input name="type-text-datalist" id="type-text-datalist" list="country-names" placeholder="Please start to type a country name" disabled>
    <datalist id="country-names">
      <module href="./country-names.html"></module>
    </datalist>
  </p>
</div>

<div>
  <p>
    <label for="type-password">Type <code>password</code></label>
  </p>
  <p>
    <input name="type-password" id="type-password" type="password" disabled>
  </p>
</div>

<div>
  <p>
    <label for="type-email">Type <code>email</code></label>
  </p>
  <p>
    <input name="type-email" id="type-email" type="email" disabled>
  </p>
</div>

<div>
  <p>
    <label for="type-search-input">Type <code>search</code> (input submit)</label>
  </p>
  <p>
    <input name="type-search-input" id="type-search-input" type="search"><input type="submit" value="Search" disabled>
  </p>
</div>

<div>
  <p>
    <label for="type-search-button">Type <code>search</code> (button submit)</label>
  </p>
  <p>
    <input name="type-search-button" id="type-search-button" type="search" disabled><button disabled>Search</button>
  </p>
</div>

<div>
  <p>
    <label for="type-tel">Type <code>tel</code></label>
  </p>
  <p>
    <input name="type-tel" id="type-tel" type="tel" value="+44" disabled>
  </p>
</div>

<div>
  <p>
    <label for="type-url">Type <code>url</code></label>
  </p>
  <p>
    <input name="type-url" id="type-url" type="url" value="https://" disabled>
  </p>
</div>

<div>
  <p>
    <label for="type-number">Type <code>number</code></label>
  </p>
  <p>
    <input name="type-number" id="type-number" type="number" min="0" max="1000" step="1" disabled>
  </p>
</div>

<div>
  <p>
    <label for="type-range">Type <code>range</code></label>
  </p>
  <p>
    <input name="type-range" id="type-range" type="range" min="0" max="1000" step="1" value="500" disabled>
    <output for="type-range"></output>
  </p>
</div>

<div>
  <p>
    <label for="type-date">Type <code>date</code></label>
  </p>
  <p>
    <input name="type-date" id="type-date" type="date" min="1971-01-01" max="2050-01-01" disabled>
  </p>
</div>

<div>
  <p>
    <label for="type-datetime-local">Type <code>datetime-local</code></label>
  </p>
  <p>
    <input name="type-datetime-local" id="type-datetime-local" type="datetime-local" disabled>
  </p>
</div>

<div>
  <p>
    <label for="type-month">Type <code>month</code></label>
  </p>
  <p>
    <input name="type-month" id="type-month" type="month" disabled>
  </p>
</div>

<div>
  <p>
    <label for="type-time">Type <code>time</code></label>
  </p>
  <p>
    <input name="type-time" id="type-time" type="time" disabled>
  </p>
</div>

<div>
  <p>
    <label for="type-week">Type <code>week</code></label>
  </p>
  <p>
    <input name="type-week" id="type-week" type="week" disabled>
  </p>
</div>

<div>
  <p>
    <label for="type-color">Type <code>color</code></label>
  </p>
  <p>
    <input name="type-color" id="type-color" type="color" value="#666666" disabled>
  </p>
</div>

<div>
  <p>
    <label for="type-file">Type <code>file</code></label>
  </p>
  <p>
    <input name="type-file" id="type-file" type="file" disabled>
  </p>
</div>

<div>
  <p>
    <label for="type-select">Type <code>select</code> size 1</label>
  </p>
  <p>
    <select name="type-select" id="type-select" disabled>
      <option selected="selected">Please select a country</option>
      <optgroup label="Countries">
        <module href="./country-names.html"></module>
      </optgroup>
    </select>
  </p>
</div>

<div>
  <p>
    <label for="type-select-large">Type <code>select</code> large size</label>
  </p>
  <p>
    <select name="type-select-large" id="type-select-large" size="10" disabled>
      <option selected="selected">Please select a country</option>
      <optgroup label="Countries">
        <module href="./country-names.html"></module>
      </optgroup>
    </select>
  </p>
</div>

<div>
  <p>
    <label for="type-select-multiple">Type <code>select</code> multiple</label>
  </p>
  <p>
    <select name="type-select-multiple" id="type-select-multiple" size="10" multiple disabled>
      <option selected="selected">Please select a country</option>
      <optgroup label="Countries">
        <module href="./country-names.html"></module>
      </optgroup>
    </select>
  </p>
</div>

<div>
  <p>
    <label for="textarea"><code>textarea</code></label>
  </p>
  <p>
    <textarea name="textarea" id="textarea" rows="10" cols="50" disabled>Example text within a textarea</textarea>
  </p>
</div>

<div>

  <fieldset>
    <legend>Checkboxes</legend>
    <span>
      <module href="./checkboxes-disabled.html"></module>
    </span>
  </fieldset>

  <fieldset>
    <legend>Radio buttons</legend>
    <span>
      <module href="./radiobuttons-disabled.html"></module>
    </span>
  </fieldset>
</div>

<span>
  <p>
    <module href="./form-buttons-disabled.html"></module>
  </p>
</span>
