<header>
  <nav>
    <ul>
      <li><a href="#">About us</a>
        <ul>
          <li><a href="#">Ut aliquet fringilla ante</a></li>
          <li><a href="#">Nec consequat ligula</a></li>
          <li><a href="#">Sed tempor dolor et nibh fermentum</a></li>
          <li><a href="#">Id ultrices erat cursus</a>
            <ul>
              <li><a href="#">Nulla sed mattis risus</a></li>
              <li><a href="#">Vitae tempor ipsum</a></li>
              <li><a href="#">Class aptent taciti sociosqu</a></li>
              <li><a href="#">Ad litora torquent per conubia nostra</a>
                <ul>
                  <li><a href="#">Per inceptos himenaeos</a></li>
                  <li><a href="#">Fusce id posuere ante</a></li>
                  <li><a href="#">Nullam ex purus</a></li>
                  <li><a href="#">Haretra non dignissim at, scelerisque sollicitudin neque</a></li>
                  <li><a href="#">Praesent et risus viverra, tincidunt enim ut, ultrices mi</a>
                    <ul>
                      <li><a href="#">Pellentesque a ipsum turpis</a></li>
                      <li><a href="#">Nam vel ligula velit</a></li>
                      <li><a href="#">Sed lobortis ligula cursus sem tristique porttitor</a></li>
                      <li><a href="#">Morbi aliquet est quis congue finibus</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Sed pulvinar mi risus</a></li>
                </ul>
              </li>
              <li><a href="#">sit amet pellentesque purus facilisis quis</a></li>
            </ul>
          </li>
          <li><a href="#">Morbi non tellus a nibh ultricies porta sed et est</a></li>
          <li><a href="#">Integer lobortis condimentum erat</a></li>
          <li><a href="#">In blandit tellus pellentesque sit amet</a></li>
          <li><a href="#">Praesent molestie ligula a commodo mattis</a></li>
          <li><a href="#">Sed in lacinia nunc.</a></li>
        </ul>
      </li>
      <li><a href="#">Our Products</a>
        <ul>
          <li><a href="#">Ut aliquet fringilla ante</a></li>
          <li><a href="#">Id ultrices erat cursus</a>
            <ul>
              <li><a href="#">Nulla sed mattis risus</a></li>
              <li><a href="#">Ad litora torquent per conubia nostra</a><button type="button" aria-expanded="false" aria-controls="nav-29" aria-label="Open sub-navigation" title="Open sub-navigation" data-js="subnav-toggle"></button>
                <ul id="nav-29" hidden=""><a href="#">Haretra non dignissim at, scelerisque sollicitudin neque</a>
                  <li><a href="#">Praesent et risus viverra, tincidunt enim ut, ultrices mi</a><button type="button" aria-expanded="false" aria-controls="nav-30" aria-label="Open sub-navigation" title="Open sub-navigation" data-js="subnav-toggle"></button>
                    <ul id="nav-30" hidden="">
                      <li><a href="#">Pellentesque a ipsum turpis</a></li>
                      <li><a href="#">Morbi aliquet est quis congue finibus</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Sed pulvinar mi risus</a></li>
                </ul>
              </li>
              <li><a href="#">sit amet pellentesque purus facilisis quis</a></li>
            </ul>
          </li>
          <li><a href="#">Morbi non tellus a nibh ultricies porta sed et est</a></li>
          <li><a href="#">Sed in lacinia nunc.</a></li>
        </ul>
      </li>
      <li><a href="#">Contact us</a>
        <ul>
          <li><a href="#">Id ultrices erat cursus</a>
            <ul>
              <li><a href="#">Ad litora torquent per conubia nostra</a>
                <ul>
                  <li><a href="#">Per inceptos himenaeos</a></li>
                  <li><a href="#">Praesent et risus viverra, tincidunt enim ut, ultrices mi</a>
                    <ul>
                      <li><a href="#">Pellentesque a ipsum turpis</a></li>
                      <li><a href="#">Morbi aliquet est quis congue finibus</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Sed pulvinar mi risus</a></li>
                </ul>
              </li>
              <li><a href="#">sit amet pellentesque purus facilisis quis</a></li>
            </ul>
          </li>
          <li><a href="#">Praesent molestie ligula a commodo mattis</a></li>
          <li><a href="#">Sed in lacinia nunc.</a></li>
        </ul>
      </li>
      <li><a href="#">Special offers</a>
        <ul>
          <li><a href="#">Id ultrices erat cursus</a></li>
          <li><a href="#">Ad litora torquent per conubia nostra</a></li>
          <li><a href="#">Praesent et risus viverra, tincidunt enim ut, ultrices mi</a></li>
          <li><a href="#">Sed pulvinar mi risus</a></li>
        </ul>
      </li>
      <li><a href="#">Login</a></li>
    </ul>
  </nav>
</header>