<header>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/typography/">Typography</a>
        <ul>
          <li><a href="/typography/headings/">Headings</a></li>
          <li><a href="/typography/lists/">Lists</a>
            <ul>
              <li><a href="/typography/lists/definition/">Definition lists</a></li>
              <li><a href="/typography/lists/unordered/">Unordered lists</a></li>
              <li><a href="/typography/lists/ordered/">Ordered lists</a></li>
            </ul>
          </li>
          <li><a href="/typography/hr/">Horizontal rule</a></li>
          <li><a href="#">Monospaced text</a></li>
          <li><a href="/typography/inline/">Inline elements</a>
            <ul>
              <li><a href="#">Nulla sed mattis risus</a></li>
              <li><a href="#">Ad litora torquent per conubia nostra</a>
                <ul><a href="#">Haretra non dignissim at, scelerisque sollicitudin neque</a>
                  <li><a href="#">Praesent et risus viverra, tincidunt enim ut, ultrices mi</a>
                    <ul>
                      <li><a href="#">Pellentesque a ipsum turpis</a></li>
                      <li><a href="#">Morbi aliquet est quis congue finibus</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Tincidunt enim ut, ultrices mi, praesent et risus viverra</a>
                    <ul>
                      <li><a href="#">Morbi aliquet est quis congue finibus</a></li>
                      <li><a href="#">Pellentesque a ipsum turpis</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Sed pulvinar mi risus</a></li>
                </ul>
              </li>
              <li><a href="#">sit amet pellentesque purus facilisis quis</a></li>
            </ul>
          </li>
          <li><a href="#">Morbi non tellus a nibh ultricies porta sed et est</a></li>
          <li><a href="#">Sed in lacinia nunc.</a></li>
        </ul>
      </li>
      <li><a href="/navigation/">Navigation</a>
        <ul>
          <li><a href="/navigation/multi-level/">Multi-level navigation</a></li>
          <li><a href="/navigation/linear/">Linear navigation</a></li>
          <li><a href="/navigation/expand/">Expanding navigation</a></li>
          <li><a href="#">Crumb trails</a></li>
          <li><a href="#">Id ultrices erat cursus</a>
            <ul>
              <li><a href="#">Nulla sed mattis risus</a></li>
              <li><a href="#">Vitae tempor ipsum</a></li>
              <li><a href="#">Class aptent taciti sociosqu</a></li>
              <li><a href="#">Ad litora torquent per conubia nostra</a>
                <ul>
                  <li><a href="#">Per inceptos himenaeos</a></li>
                  <li><a href="#">Fusce id posuere ante</a></li>
                  <li><a href="#">Nullam ex purus</a></li>
                  <li><a href="#">Haretra non dignissim at, scelerisque sollicitudin neque</a></li>
                  <li><a href="#">Praesent et risus viverra, tincidunt enim ut, ultrices mi</a>
                    <ul>
                      <li><a href="#">Pellentesque a ipsum turpis</a></li>
                      <li><a href="#">Nam vel ligula velit</a></li>
                      <li><a href="#">Sed lobortis ligula cursus sem tristique porttitor</a></li>
                      <li><a href="#">Morbi aliquet est quis congue finibus</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Sed pulvinar mi risus</a></li>
                </ul>
              </li>
              <li><a href="#">sit amet pellentesque purus facilisis quis</a></li>
            </ul>
          </li>
          <li><a href="#">Morbi non tellus a nibh ultricies porta sed et est</a></li>
          <li><a href="#">Integer lobortis condimentum erat</a></li>
          <li><a href="#">In blandit tellus pellentesque sit amet</a></li>
          <li><a href="#">Praesent molestie ligula a commodo mattis</a></li>
          <li><a href="#">Sed in lacinia nunc.</a></li>
        </ul>
      </li>
      <li><a href="#">Forms</a>
        <ul>
          <li><a href="#">Horizontal layout</a>
          <li><a href="#">Vertical layout</a>
          <li><a href="#">Fieldsets</a>
          <li><a href="#">Multi-column layout</a>
            <ul>
              <li><a href="#">Ad litora torquent per conubia nostra</a>
                <ul>
                  <li><a href="#">Per inceptos himenaeos</a></li>
                  <li><a href="#">Praesent et risus viverra, tincidunt enim ut, ultrices mi</a>
                    <ul>
                      <li><a href="#">Pellentesque a ipsum turpis</a></li>
                      <li><a href="#">Morbi aliquet est quis congue finibus</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Sed pulvinar mi risus</a></li>
                </ul>
              </li>
              <li><a href="#">sit amet pellentesque purus facilisis quis</a></li>
            </ul>
          </li>
          <li><a href="#">Praesent molestie ligula a commodo mattis</a></li>
          <li><a href="#">Sed in lacinia nunc.</a></li>
        </ul>
      </li>
      <li><a href="/semantic-blocks/">Semantic blocks</a>
        <ul>
          <li><a href="/semantic-blocks/grid/">Grid</a></li>
          <li><a href="#">Accordions (details)</a></li>
          <li><a href="#">Resize handles</a></li>
          <li><a href="#">Carousel (https://css-tricks.com/css-carousels/)</a></li>
          <li><a href="#">Dialogs</a></li>
          <li><a href="#">Hero panels</a></li>
          <li><a href="#">Site footers</a></li>
          <li><a href="/semantic-blocks/aside/">Aside</a></li>
          <li><a href="#">Articles</a></li>
          <li><a href="#">Sections</a></li>
        </ul>
      </li>
      <li><a href="#">Data</a>
        <ul>
          <li><a href="#">Tables</a></li>
          <li><a href="#">Charting?</a></li>
        </ul>
      </li>
      <li><a href="#">Images</a>
        <ul>
          <li><a href="#">Img</a></li>
          <li><a href="#">Picture</a></li>
          <li><a href="#">Figure</a></li>
          <li><a href="#">Hero panels</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</header>