<p>
  <label><input type="radio" name="radio" value="1"> Nullam felis mi, dignissim eu diam dignissim, vestibulum tristique neque</label><br>
  <label><input type="radio" name="radio" value="2"> In vulputate consectetur lorem vel accumsan</label><br>
  <label><input type="radio" name="radio" value="3"> Donec tempus aliquam elementum</label><br>
  <label><input type="radio" name="radio" value="4"> Curabitur condimentum dolor non ultricies consectetur</label><br>
  <label><input type="radio" name="radio" value="5"> Aliquam erat volutpat</label><br>
  <label><input type="radio" name="radio" value="6"> Nam pretium eget odio dapibus feugiat</label><br>
  <label><input type="radio" name="radio" value="7"> Aliquam sit amet malesuada nisi, at pellentesque lorem</label><br>
  <label><input type="radio" name="radio" value="8"> Interdum et malesuada fames ac ante ipsum primis in faucibus</label><br>
  <label><input type="radio" name="radio" value="9"> Donec elementum sapien et ligula aliquet vulputate</label><br>
  <label><input type="radio" name="radio" value="10"> Donec interdum, elit eu imperdiet malesuada, massa leo semper lacus, sit amet lacinia augue velit at leo</label>
</p>
