<!doctype html>
<html class="no-js" lang="en-GB">

<module href="src/fragments/head.html">
  <title>Classless Utopia - Forms</title>
</module>

<body>
  <module href="src/fragments/main-navigation.html"></module>

  <main>
    <nav aria-label="Breadcrumb">
      <ol>
        <li><a href="/">Home</a></li>
        <li><em title="You are here">Forms</em></li>
      </ol>
    </nav>

    <article>
      <h1>Forms</h1>
      <p>Single column layout</p>
      <form method="get" action="#">
        <module href="src/fragments/form-elements-linear.html"></module>
      </form>
    </article>
  </main>

  <module href="src/fragments/footer.html"></module>
</body>

</html>