// Note that patterns such as this:
// dl
//  dt
//  dt
//  dd
// ... and:
// dl
//  dt
//  dd
//  dd
// are legal. Definition lists can also contain multiple sets of definitions.
// Because of this, `margin-top` is used on definition terms to establish space.
dl {
  margin: calc(var(--gutter) * 2) 0;

  dt {
    font-family: var(--monospaced-font);
    font-size: var(--largetext-size);
    margin: calc(var(--gutter) / 2) 0;

    // Two definition terms, one after the other: second term
    // ------------------------------------------------------
    & + dt {
      border-top: dotted var(--keyline) var(--bodytext);
      padding-top: calc(var(--gutter) / 2);
    }

    // A definition immediately following a term
    // _________________________________________
    & + dd {
      border-top: solid var(--keyline) var(--bodytext);
      padding-top: var(--gutter);
    }
  }

  dd {
    padding: 0 0 0 calc(var(--gutter) * 2);

    // Two definitions for the same term: second definition
    // ----------------------------------------------------
    & + dd {
      margin-top: var(--gutter);

      &:before {
        border-top: dotted var(--keyline) var(--bodytext);
        content: "";
        display: block;
        margin: 0 0 var(--gutter);
      }
    }

    // A term following a definition
    & + dt {
      margin-top: calc(var(--gutter) * 2);
    }
  }
}
