ul, ol, li, dl, dt, dd {
  list-style: none;
  margin: 0;
  padding: 0;
}

// Unordered lists
ul {
  li {
    padding: 0 0 var(--gutter) calc(var(--gutter) * 2);
    position: relative;

    // •
    &::before {
      background: var(--bodytext);
      border-radius: 50%;
      content: "";
      height: calc(var(--gutter) / 2);
      left: var(--gutter);
      position: absolute;
      top: calc(var(--gutter) / 2);
      width: calc(var(--gutter) / 2);
    }

    ul {
      margin: var(--gutter) 0 calc(var(--gutter) * -1);
    }
  }
}