<!doctype html>
<html class="no-js" lang="en-GB">

<module href="src/fragments/head.html">
  <title>Classless Utopia - Multi-level navigation</title>
</module>

<body>
  <module href="src/fragments/main-navigation.html"></module>

  <main>

    <h1>Multi-level navigation</h1>

    <h2>Markup</h2>

    <p>To create an infinitely nested collapsing navigation tree, use the following pattern:</p>

  <pre><code>&lt;header&gt;
  &lt;nav&gt;
    &lt;ul&gt;
      &lt;li&gt;&lt;a href="#"&gt;Top level item&lt;/a&gt;
        &lt;ul&gt;
          &lt;li&gt;&lt;a href="#"&gt;Second level item&lt;/a&gt;&lt;/li&gt;
        &lt;/ul&gt;
      &lt;/li&gt;
    &lt;/ul&gt;
  &lt;/nav&gt;
&lt;/header&gt;</code></pre>

    <p>Note that the <code>nav</code> tag is expected to be an immediate child of the <code>body</code> tag.</p>

    <h2>Example</h2>
  </main>

  <header>
    <nav>
      <ul>
        <li><a href="#">Top level item</a>
          <ul>
            <li><a href="#">Second level item</a></li>
          </ul>
        </li>
        <li><a href="#">Second top level item</a>
          <ul>
            <li><a href="#">Second level item</a></li>
          </ul>
        </li>
        <li><a href="#">Third top level item</a>
          <ul>
            <li><a href="#">Second level item</a></li>
          </ul>
        </li>
        <li><a href="#">Forth with no child</a></li>
      </ul>
    </nav>
  </header>

  <section>

    <p>You can continue nesting lists as deep as you like (within reason).</p>

    <p>The functionality and features of the main navigation drew inspiration from work by <a href="https://www.nngroup.com/articles/menu-design/" target="_blank" title="Previously called the Nielsen group">NN/g</a> and <a href="https://www.w3.org/WAI/ARIA/apg/patterns/disclosure/examples/disclosure-navigation-hybrid/" target="_blank"><abbr title="Accessible Rich Internet Applications">ARIA</abbr> Authoring Practices Guide</a>. This leads to a lot of JavaScript concerned with labelling elements correctly, reflecting the navigation state back to the user and handling keyboard navigation.</p>

    <p>Only the top level of navigation will display. Users will see a chevron inside a button to the right of each navigation item which has children. Clicking on the link will navigate to the page as normal. Clicking on the button will toggle the child nodes open or closed.</p>

    <p>The navigation will display horizontally until the top line wraps. After this point, it will switch to a hamburger menu and vertical orientation. This means that there is no breakpoint perse - this switch is determined by the content of the navigation.</p>

    <p>Accessibility markup is automatically added and updated as the user interacts with the navigation.</p>
  </section>

  <module href="src/fragments/footer.html"></module>
</body>

</html>