@use "../mixins/cta-input" as cta_input;
@use "../mixins/cta-style" as cta_style;

main {
  input {
    &[type="file"] {
      padding: 0;

      &::file-selector-button {
        @include cta_input.cta-input;
        @include cta_style.cta-style;
        border-radius: 0;
        font-family: inherit;
        margin: calc(var(--keyline) * -1);
        margin-right: var(--gutter);

        &:hover {
          @include cta_style.cta-focus;
        }
      }
    }
  }
}
