input, select, button, textarea {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

button {
  appearance: none;
  background: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  overflow: visible;
  padding: 0;
}
