@use "../mixins/cta-input" as cta_input;
@use "../mixins/cta-style" as cta_style;
@use "./horizontal";
@use "./search";
@use "./button";
@use "./radio";
@use "./checkbox";
@use "./file";
@use "./range";
@use "./select";
@use "./textarea";
@use "./fieldset";

input,
select,
button,
textarea,
label {
  appearance: none;
  background: transparent;
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  overflow: visible;

  &:disabled {
    cursor: not-allowed;
    opacity: var(--disabled);

    &:hover,
    &:focus {
      outline: none;
    }
  }
}

main {
  // 49px high, to match call-to-action
  input,
  button,
  select,
  textarea {
    @include cta_input.cta-input;

    &:focus,
    &:hover {
      @include cta_style.cta-focus;
    }
  }

  select,
  textarea {
    display: block;
    overflow: auto;
    width: 100%;
  }

  input {
    &:not(
        [type="radio"],
        [type="checkbox"],
        [type="button"],
        [type="submit"],
        [type="reset"],
        [type="search"]
      ) {
      display: block;
      width: 100%;
    }
  }
}
