form, fieldset {
  & > p {
    align-items: flex-start;
    display: flex;

    label {
      &:first-child {
        margin-right: var(--gutter);
      }

      &:last-child {
        margin-left: var(--gutter);
      }
    }

    input {
      &:not([type="radio"], [type="checkbox"]) {
        flex-grow: 2;
      }
    }
  }
}
