main {
  input {
    &[type="radio"] {
      align-items: center;
      display: inline-flex;
      height: 2ch;
      justify-content: center;
      min-height: 0;
      padding: 0;
      width: 2ch;

      // •
      &::before {
        background: var(--bodytext);
        border-radius: 50%;
        content: "";
        display: block;
        height: 1ch;
        transition: all 0.2s;
        transform: scale(0);
        width: 1ch;
      }

      &:checked {
        &::before {
          transform: scale(1);
        }
      }
    }
  }
}
