<!DOCTYPE html>
<html class="no-js" lang="en-GB">
  <module href="src/fragments/head.html">
    <title>Classless Utopia - Tabs</title>
  </module>

  <body>
    <module href="src/fragments/main-navigation.html"></module>

    <main>
      <nav aria-label="Breadcrumb">
        <ol>
          <li><a href="/">Home</a></li>
          <li><a href="/navigation/">Navigation</a></li>
          <li><em title="You are here">Tabs navigation</em></li>
        </ol>
      </nav>
      <article>
        <h1>Tabs</h1>

        <p>
          Links placed loose inside of a <code>nav</code> element will simply
          wrap as inline text might:
        </p>

        <pre><code>&lt;nav&gt;
  &lt;a href="#"&gt;Loose link inside of nav element&lt;/a&gt;
  &lt;a href="#"&gt;Another loose link&lt;/a&gt;
  &lt;a href="#"&gt;A third example&lt;/a&gt;
&lt;/nav&gt;</code></pre>

        <h2>Example</h2>

        <nav>
          <a href="#">Loose link inside of nav element</a>
          <a href="#">Another loose link</a>
          <a href="#">A third example</a>
          <a href="#">Aenean sed orci purus</a>
          <a href="#">Donec et volutpat magna</a>
          <a href="#"
            >Quisque nulla justo, convallis eget posuere tempor, ultrices nec
            nisl</a
          >
          <a href="#">Sed sollicitudin velit ac metus vestibulum mollis</a>
          <a href="#">Fusce et tristique nulla</a>
        </nav>

        <h2>Tabs</h2>
        <p>
          Where anchors are inside a paragraph tag, the navigation will form a
          set of tabs.
        </p>

        <pre><code>&lt;nav&gt;
  &lt;p&gt;
    &lt;a href="#"&gt;Tab navigation&lt;/a&gt;
    &lt;a href="#"&gt;Another tab level navigation item&lt;/a&gt;
    &lt;a href="#"&gt;A third example&lt;/a&gt;
  &lt;/p&gt;
&lt;/nav&gt;</code></pre>

        <h3>Example</h3>

        <nav>
          <p>
            <a href="#">Horizontal links</a>
            <a href="#">Which form tabs</a>
            <em>This is the current tab</em>
            <a href="#">Sed sollicitudin velit ac metus vestibulum mollis</a>
            <a href="#">Fusce et tristique nulla</a>
          </p>
        </nav>

        <p>
          If a large number of tabs are required, carousel markup can ensure
          they all fit in the viewport.
        </p>

        <nav>
          <p aria-roledescription="carousel">
            <a href="#" aria-roledescription="slide">Horizontal links</a>
            <a href="#" aria-roledescription="slide">Which form tabs</a>
            <em aria-roledescription="slide">Current slide</em>
            <a href="#" aria-roledescription="slide"
              >Fusce et tristique nulla</a
            >
            <a href="#" aria-roledescription="slide">Ultrices nec nisl</a>
            <a href="#" aria-roledescription="slide"
              >Sed sollicitudin velit ac metus vestibulum mollis</a
            >
            <a href="#" aria-roledescription="slide"
              >Fusce et tristique nulla</a
            >
          </p>
        </nav>
      </article>
    </main>

    <module href="src/fragments/footer.html"></module>
  </body>
</html>
