<!doctype html>
<html class="no-js" lang="en-GB">

<module href="src/fragments/head.html">
  <title>Classless Utopia - Grid</title>
</module>

<body>
  <module href="src/fragments/main-navigation.html"></module>

  <main>
    <nav aria-label="Breadcrumb">
      <ol>
        <li><a href="/">Home</a></li>
        <li><a href="/semantic-blocks/">Semantic blocks</a></li>
        <li><em title="You are here">Grid</em></li>
      </ol>
    </nav>
    <div>
      <article>
        <h1>Grid</h1>

        <div>
          <p>Two column grid</p>
          <p>Two column grid</p>
        </div>

        <div>
          <p>Three column grid</p>
          <p>Three column grid</p>
          <p>Three column grid</p>
        </div>

        <div>
          <p>Four column grid</p>
          <p>Four column grid</p>
          <p>Four column grid</p>
          <p>Four column grid</p>
        </div>

      </article>
    </div>
  </main>

  <module href="src/fragments/footer.html"></module>
</body>

</html>