// Declarations shared between the call-to-action buttons
// and input elements
@mixin cta-input {
  border-radius: var(--cta-radius);
  border: solid var(--keyline) var(--bodytext);
  line-height: 1.3;
  // line-height: var(--gutter);
  min-height: var(--btn-size);
  padding: calc(var(--gutter) / 2) var(--gutter);
  vertical-align: middle;
}
