// Most of this is lifted from MDN
// https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/dialog#examples
// Closed state of the dialog
dialog {
  border: solid var(--keyline) var(--bodytext);
  max-width: var(--content-width);
  opacity: 0;
  padding: var(--gutter);
  transform: scale(0);
  transition:
    opacity 0.5s ease-out,
    transform 0.5s ease-out,
    overlay 0.5s ease-out allow-discrete,
    display 0.5s ease-out allow-discrete;
    // Equivalent to
    // transition: all 0.5s allow-discrete;

  // Open state of the dialog
  &:open {
    opacity: 1;
    transform: scale(1);

    &::backdrop {
      background-color: var(--overlay);
    }
  }

  // Transition the :backdrop when the dialog modal is promoted to the top layer
  &::backdrop {
    background-color: transparent;
    transition:
      display 0.5s allow-discrete,
      overlay 0.5s allow-discrete,
      background-color 0.5s;
    // Equivalent to
    // transition: all 0.5s allow-discrete;
  }

  // The `form` and `hgroup` tags are used as a media object to get the close
  // button to appear top right
  & > form[method="dialog"] {
    display: flex;
    gap: var(--gutter);

    & > hgroup { flex: 1; }
  }

  & > :last-child { margin-bottom: 0; }
}

// Before open state
// Needs to be after the previous dialog:open rule to take effect,
// as the specificity is the same
@starting-style {
  dialog:open {
    opacity: 0;
    transform: scale(0);
  }
}

// This starting-style rule cannot be nested inside the above selector
// because the nesting selector cannot represent pseudo-elements.
@starting-style {
  dialog:open::backdrop {
    background-color: transparent;
  }
}
