figure {
  data {
    aspect-ratio: 1;
    align-items: center;
    background: var(--tint1);
    border-radius: 50%;
    display: flex;
    font-size: var(--h1-size);
    justify-content: center;

    &[value*="."] {
      background: var(--tint2);
    }

    &[value*="%"] {
      background: var(--tint3);
    }

    &[value*="£"] {
      background: var(--tint4);
    }
  }
}
