<!doctype html>
<html class="no-js" lang="en-GB">

<module href="src/fragments/head.html">
  <title>Classless Utopia - Carousel</title>
</module>

<body>
  <module href="src/fragments/main-navigation.html"></module>

  <main>
    <nav aria-label="Breadcrumb">
      <ol>
        <li><a href="/">Home</a></li>
        <li><a href="/semantic-blocks/">Semantic blocks</a></li>
        <li><em title="You are here">Carousel</em></li>
      </ol>
    </nav>
    <article>
      <h1>Carousel</h1>
      <div aria-roledescription="carousel">
        <section role="group" aria-roledescription="slide">
          <p>Nunc neque sem, consectetur nec sapien vel, molestie consequat sem. Aliquam ut velit volutpat, ultrices nibh at, feugiat neque. Sed tincidunt nulla vitae justo pulvinar feugiat. Fusce dignissim hendrerit luctus. Proin et maximus magna. Duis fermentum massa in tempor bibendum. Integer tincidunt rutrum ex, id sodales libero fringilla quis. Integer pretium urna sed nisi commodo ornare. Maecenas commodo accumsan sem a dignissim. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </section>
        <section role="group" aria-roledescription="slide">
          <p>In mattis blandit libero, sit amet iaculis elit rhoncus eget. Nulla facilisis nisl ut metus aliquet, non ultricies dolor cursus. Duis id nisi dolor. Proin vel egestas diam. Nunc cursus, quam ultrices bibendum porta, quam arcu consectetur ligula, at vestibulum elit massa vitae enim. Praesent quis magna sed nisl malesuada tempus et quis odio. Integer lacinia dignissim nibh, vitae vehicula felis consectetur in. Praesent id lectus id nulla viverra pellentesque id vitae magna.</p>
        </section>
        <section role="group" aria-roledescription="slide">
          <p>Duis ac justo non magna laoreet posuere eu et risus. Cras sit amet metus mi. Phasellus nisi orci, tincidunt eget urna in, semper sollicitudin erat. Praesent viverra pharetra felis, sit amet tempor libero scelerisque et. Nunc imperdiet leo et volutpat ultrices. Nam bibendum leo sed erat tempor vulputate. Aenean ante metus, blandit sit amet arcu a, rutrum placerat justo.</p>
        </section>
        <section role="group" aria-roledescription="slide">
          <p>In nisi dolor, dictum imperdiet sollicitudin a, posuere eu purus. Integer faucibus ante et mi fermentum, et semper lorem ornare. Phasellus dapibus dolor ac ex venenatis, id porta eros commodo. Etiam venenatis risus id sapien finibus accumsan. Vestibulum ultrices justo sed dui varius, eget dignissim metus sollicitudin. Donec lobortis neque id euismod laoreet.</p>
        </section>
        <section role="group" aria-roledescription="slide">
          <p>Praesent quis pellentesque ex, vitae posuere ligula. In non sem vitae est aliquam faucibus. Nam sit amet augue non eros commodo consectetur non vitae orci. Nulla facilisi. In maximus nisl maximus libero dictum finibus. Proin consectetur arcu felis, eget viverra quam commodo in. Suspendisse tristique eget purus et cursus. Sed vitae magna lacus. Suspendisse varius sagittis sollicitudin. Donec a maximus nulla.</p>
        </section>
        <section role="group" aria-roledescription="slide">
          <p>Phasellus sollicitudin, magna a cursus feugiat, massa libero venenatis justo, sed iaculis lectus lacus fringilla neque. Fusce ac iaculis mauris, eu volutpat lectus. Sed congue vel diam non faucibus. Nunc malesuada ante augue, sed porttitor ex hendrerit rhoncus. Integer sit amet iaculis arcu. Suspendisse potenti. Suspendisse vitae malesuada elit. Proin eleifend libero vitae facilisis vestibulum.</p>
        </section>
      </div>
    </article>
  </main>

  <module href="src/fragments/footer.html"></module>
</body>

</html>