<!doctype html>
<html class="no-js" lang="en-GB">

<module href="src/fragments/head.html">
  <title>Classless Utopia - Two column layout</title>
</module>

<body>
  <module href="src/fragments/main-navigation.html"></module>

  <main>
    <nav aria-label="Breadcrumb">
      <ol>
        <li><a href="/">Home</a></li>
        <li><a href="/forms/">Forms</a></li>
        <li><em title="You are here">Two column layout</em></li>
      </ol>
    </nav>

    <article>
      <h1>Two column layout</h1>
      <p>Introduction text</p>
      <module href="src/fragments/form-elements-two-col.html"></module>
    </article>
  </main>

  <module href="src/fragments/footer.html"></module>
</body>

</html>