<!doctype html>
<html class="no-js" lang="en-GB">

<module href="src/fragments/head.html">
  <title>Classless Utopia - Main navigation</title>
</module>

<body>
  <module href="src/fragments/main-navigation.html"></module>

  <h1>Main navigation</h1>

  <p>The main navigation can take a couple of different forms.</p>

  <h2>Collapsing</h2>

  <p>To create an infinitely nested collapsing navigation tree, use the following pattern:</p>

  <pre><code>&lt;header&gt;
  &lt;nav&gt;
    &lt;ul&gt;
      &lt;li&gt;&lt;a href="#"&gt;Top level item&lt;/a&gt;
        &lt;ul&gt;
          &lt;li&gt;&lt;a href="#"&gt;Second level item&lt;/a&gt;&lt;/li&gt;
        &lt;/ul&gt;
      &lt;/li&gt;
    &lt;/ul&gt;
  &lt;/nav&gt;
&lt;/header&gt;</code></pre>

  <p>You can continue nesting lists as deep as you like (within reason).</p>

  <p>The functionality and features of the main navigation drew inspiration from work by <a href="https://www.nngroup.com/articles/menu-design/" target="_blank" title="Previously called the Nielsen group">NN/g</a> and <a href="https://www.w3.org/WAI/ARIA/apg/patterns/disclosure/examples/disclosure-navigation-hybrid/" target="_blank">ARIA Authoring Practices Guide</a>. This leads to a lot of JavaScript concerned with labelling elements correctly, reflecting the navigation state back to the user and handling keyboard navigation.</p>

  <p>Only the top level of navigation will display. Users will see a chevron inside a button to the right of each navigation item which has children. Clicking on the link will navigate to the page as normal. Clicking on the button will toggle the child nodes open and closed.</p>

  <p>The navigation will display horizontally until the top line wraps. After this point, it will switch to a hamburger menu and vertical orientation. This means that there is no breakpoint perse - this switch is determined by the content of the navigation.</p>

  <p>Accessibility markup is automatically added and updated as the user interacts with the navigation.</p>

  <h2>Linear</h2>

  <p>If a single row of navigation is required, the following pattern can be used:</p>

  <pre><code>&lt;nav&gt;
  &lt;p&gt;
    &lt;a href="#"&gt;Top level navigation&lt;/a&gt;
    &lt;a href="#"&gt;Another top level navigation item&lt;/a&gt;
    &lt;a href="#"&gt;A third example&lt;/a&gt;
  &lt;/p&gt;
&lt;/nav&gt;</code></pre>

  <p><strong>To do:</strong> create truncating single-line navigation</p>

  <module href="src/fragments/footer.html"></module>
</body>

</html>