@use "../../vars-sass" as v;

[aria-roledescription="carousel"] {
  overflow: auto;

  [aria-roledescription="slide"] {
    flex: 100% 0 0;

    // Warning message for users of browsers which do not support this functionality
    &:first-child {
      &::before {
        background: var(--tint1);
        content: "⚠️ Your web browser does not support native CSS carousel functionality";
        display: block;
        font-size: var(--smalltext-size);
        line-height: var(--line-height-tight);
        margin: 0 0 var(--gutter);
        padding: var(--gutter);
      }
    }
  }
}

@media (width < v.$site-width) {
  // Usually, the flexbox grid stops working below this point
  [aria-roledescription="carousel"] {
    display: flex;
    gap: var(--gutter);
    & > div {
      display: block;
    }
    & > * {
      flex: 1;
    }
  }
}

@supports (scroll-marker-group: after) {
  @media (prefers-reduced-motion: no-preference) {
    [aria-roledescription="carousel"] {
      scroll-behavior: smooth;
    }
  }

  [aria-roledescription="carousel"] {
    anchor-name: --carousel;
    overflow: hidden;
    margin: 0 var(--btn-size) var(--gutter);
    padding: 0 var(--gutter);
    scroll-marker-group: after;
    scroll-snap-type: x mandatory;

    [aria-roledescription="slide"] {
      scroll-snap-align: center;

      // Hide the warning message about lack of support
      &:first-child::before {
        display: none;
      }

      &::scroll-marker {
        box-sizing: border-box;
        content: "";
        display: block;
        border: var(--keyline) solid var(--bodytext);
        min-height: var(--small-btn-size);
        border-radius: 100%;
        width: var(--small-btn-size);

        &:hover,
        &:focus-visible {
          outline: var(--keyline) solid var(--bodytext);
          outline-offset: var(--keyline);
        }

        // This pip represents the currently visible pane
        &:target-current {
          border-width: calc(var(--keyline) * 2);
        }
      }
    }

    &::scroll-button(*) {
      aspect-ratio: 1;
      position: fixed;
      position-anchor: --carousel;

      &:disabled {
        opacity: var(--disabled);

        &:hover {
          cursor: not-allowed;
          outline: none;
        }
      }

      &:hover,
      &:focus-visible {
        cursor: pointer;
        outline: var(--keyline) solid var(--bodytext);
        outline-offset: var(--keyline);
      }
    }

    &::scroll-button(left) {
      content: "⟪";
      position-area: center left;
    }

    &::scroll-button(right) {
      content: "⟫";
      position-area: center right;
    }

    &::scroll-marker-group {
      display: flex;
      justify-content: center;
      gap: var(--gutter);
    }
  }
}
