<!doctype html>
<html class="no-js" lang="en-GB">

<module href="src/fragments/head.html">
  <title>Classless Utopia - Lists</title>
</module>

<body>
  <module href="src/fragments/main-navigation.html"></module>

  <main>

    <h1>Lists</h1>
    <h2>Mixed lists</h2>
    <p>Ordered and unordered lists can be infinitely nested and may contain other inline elements.</p>
    <p>Content before the list</p>
    <ol>
      <module href="src/fragments/list-items.html">
        <ul>
          <module href="src/fragments/list-items.html">
            <ol>
              <module href="src/fragments/list-items.html">
                <ul>
                  <module href="src/fragments/list-items.html"></module>
                </ul>
              </module>
            </ol>
          </module>
        </ul>
      </module>
    </ol>
    <p>Content after the list</p>

  </main>


  <module href="src/fragments/footer.html"></module>
</body>

</html>