<!doctype html>
<html class="no-js" lang="en-GB">

<module href="src/fragments/head.html">
  <title>Classless Utopia - Pagination</title>
</module>

<body>
  <module href="src/fragments/main-navigation.html"></module>

  <main>
    <nav aria-label="Breadcrumb">
      <ol>
        <li><a href="/">Home</a></li>
        <li><a href="/navigation/">Navigation</a></li>
        <li><em title="You are here">Pagination</em></li>
      </ol>
    </nav>
    <article>
      <h1>Pagination</h1>

  <module href="src/fragments/footer.html"></module>
</body>

</html>