<!DOCTYPE html>
<html class="no-js" lang="en-GB">
  <module href="src/fragments/head.html">
    <title>Classless Utopia - Tables</title>
  </module>

  <body>
    <module href="src/fragments/main-navigation.html"></module>

    <main>
      <nav aria-label="Breadcrumb">
        <ol>
          <li><a href="/">Home</a></li>
          <li><a href="/data/">Data</a></li>
          <li><em title="You are here">Tables</em></li>
        </ol>
      </nav>

      <article>
        <h1>Tables</h1>

        <h2>Minimal table</h2>

        <table>
          <tr>
            <td>Cell 1</td>
            <td>Cell 2</td>
            <td>Cell 3</td>
            <td>Cell 4</td>
            <td>Cell 5</td>
            <td>Cell 6</td>
            <td>Cell 7</td>
            <td>Cell 8</td>
            <td>Cell 9</td>
            <td>Cell 10</td>
            <td>Cell 11</td>
            <td>Cell 12</td>
          </tr>
          <tr>
            <td>Cell 1</td>
            <td>Cell 2</td>
            <td>Cell 3</td>
            <td>Cell 4</td>
            <td>Cell 5</td>
            <td>Cell 6</td>
            <td>Cell 7</td>
            <td>Cell 8</td>
            <td>Cell 9</td>
            <td>Cell 10</td>
            <td>Cell 11</td>
            <td>Cell 12</td>
          </tr>
          <tr>
            <td>Cell 1</td>
            <td>Cell 2</td>
            <td>Cell 3</td>
            <td>Cell 4</td>
            <td>Cell 5</td>
            <td>Cell 6</td>
            <td>Cell 7</td>
            <td>Cell 8</td>
            <td>Cell 9</td>
            <td>Cell 10</td>
            <td>Cell 11</td>
            <td>Cell 12</td>
          </tr>
        </table>

        <table>
          <caption>
            Maximalist table
          </caption>
          <thead>
            <tr>
              <th scope="col" abbr="1"><p>Header 1</p></th>
              <th scope="col" abbr="2"><p>Header 2</p></th>
              <th scope="col" abbr="3"><p>Header 3</p></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row"><p>Cell 1</p></th>
              <td><p>Cell 2</p></td>
              <td><p>£1.25</p></td>
            </tr>
            <tr>
              <th scope="row"><p>Cell 1</p></th>
              <td><p>Cell 2</p></td>
              <td><p>£1.50</p></td>
            </tr>
            <tr>
              <th scope="row"><p>Cell 1</p></th>
              <td><p>Cell 2</p></td>
              <td><p>£2.00</p></td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="3">
                <p>
                  <small
                    >Nunc commodo in turpis at accumsan. Pellentesque vestibulum
                    tellus non urna finibus, eget hendrerit nibh finibus. Mauris
                    lacinia rhoncus justo porttitor aliquam. Praesent eget
                    vestibulum mi. Vestibulum cursus sapien at nibh rhoncus
                    pellentesque. Sed lobortis ultrices lectus. In hac habitasse
                    platea dictumst. Ut ultricies, ipsum in suscipit sagittis,
                    neque neque tempus leo, vel cursus lectus ex sit amet sem.
                    Phasellus commodo, nibh in porttitor varius, nisi libero
                    molestie tellus, nec porttitor eros nunc vitae justo.
                    Suspendisse posuere condimentum eros, vel fermentum tellus
                    ultricies eget. Nullam a condimentum massa.
                  </small>
                </p>
              </td>
            </tr>
          </tfoot>
        </table>
      </article>
    </main>

    <module href="src/fragments/footer.html"></module>
  </body>
</html>
