<!DOCTYPE html>
<html class="no-js" lang="en-GB">
  <module href="src/fragments/head.html">
    <title>Classless Utopia - Tables</title>
  </module>

  <body>
    <module href="src/fragments/main-navigation.html"></module>

    <main>
      <nav aria-label="Breadcrumb">
        <ol>
          <li><a href="/">Home</a></li>
          <li><a href="/data/">Data</a></li>
          <li><em title="You are here">Tables</em></li>
        </ol>
      </nav>

      <article>
        <h1>Tables</h1>

        <h2>Minimal table</h2>

        <table>
          <tr>
            <td>Cell 1</td>
            <td>Cell 2</td>
            <td>Cell 3</td>
            <td>Cell 4</td>
            <td>Cell 5</td>
            <td>Cell 6</td>
            <td>Cell 7</td>
            <td>Cell 8</td>
            <td>Cell 9</td>
            <td>Cell 10</td>
            <td>Cell 11</td>
            <td>Cell 12</td>
          </tr>
          <tr>
            <td>Cell 1</td>
            <td>Cell 2</td>
            <td>Cell 3</td>
            <td>Cell 4</td>
            <td>Cell 5</td>
            <td>Cell 6</td>
            <td>Cell 7</td>
            <td>Cell 8</td>
            <td>Cell 9</td>
            <td>Cell 10</td>
            <td>Cell 11</td>
            <td>Cell 12</td>
          </tr>
          <tr>
            <td>Cell 1</td>
            <td>Cell 2</td>
            <td>Cell 3</td>
            <td>Cell 4</td>
            <td>Cell 5</td>
            <td>Cell 6</td>
            <td>Cell 7</td>
            <td>Cell 8</td>
            <td>Cell 9</td>
            <td>Cell 10</td>
            <td>Cell 11</td>
            <td>Cell 12</td>
          </tr>
        </table>

        <table>
          <caption>
            Maximalist table
          </caption>
          <thead>
            <tr>
              <th scope="col"><p>Header 1</p></th>
              <th scope="col"><p>Header 2</p></th>
              <th scope="col"><p>Header 3</p></th>
              <th scope="col"><p>Header 4</p></th>
              <th scope="col"><p>Header 5</p></th>
              <th scope="col"><p>Header 6</p></th>
              <th scope="col" abbr="Percentage"><p>Percentage</p></th>
              <th scope="col" abbr="Price"><p>Price</p></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">
                <p>In in purus vulputate, congue dui sit amet, congue nulla.</p>
              </th>
              <td><p>Maecenas pellentesque bibendum dapibus.</p></td>
              <td><p>Donec at est eu nibh placerat ullamcorper.</p></td>
              <td>
                <p>
                  Table cells need to be able to contain multiple paragraphs.
                </p>
                <p>
                  These need to form a column of text on mobile, next to the
                  column header.
                </p>
              </td>
              <td>
                <p>
                  Sed eu justo non ipsum elementum dictum sit amet nec odio.
                </p>
              </td>
              <td>
                <p>
                  In sapien metus, tincidunt eu blandit ut, laoreet vitae orci.
                </p>
              </td>

              <td abbr="Percentage">
                <p>0.25%</p>
              </td>
              <td abbr="Price">
                <p>£1.25</p>
              </td>
            </tr>
            <tr>
              <th scope="row"><p>Hendrerit malesuada quam.</p></th>
              <td>
                <p>
                  Cras tempus et mi id consequat. Donec porta maximus nisi, eu
                  faucibus felis.
                </p>
              </td>
              <td><p>Suspendisse nec viverra mi.</p></td>
              <td><p>Suspendisse laoreet in quam a semper.</p></td>
              <td>
                <p>Morbi tortor ipsum, commodo non elit nec.</p>
              </td>
              <td><p>Sed mattis sem sit amet purus mollis placerat.</p></td>
              <td abbr="Percentage">
                <p>0.5%</p>
              </td>
              <td abbr="Price"><p>£1.50</p></td>
            </tr>
            <tr>
              <th scope="row">
                <p>Sed in ornare nunc.</p>
              </th>
              <td>
                <p>
                  Morbi tincidunt libero purus, non cursus ipsum feugiat id.
                </p>
              </td>
              <td>
                <p>Duis nec auctor arcu. Quisque varius fringilla mollis.</p>
              </td>
              <td><p>Etiam cursus at enim et sodales.</p></td>
              <td>
                <p>
                  Nulla tellus quam, placerat in risus et, tempor rhoncus nibh.
                </p>
              </td>
              <td>
                <p>Proin sit amet urna non erat dignissim hendrerit.</p>
              </td>
              <td abbr="Percentage">
                <p>0.75%</p>
              </td>
              <td abbr="Price"><p>£2.00</p></td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="8">
                <p>
                  <small
                    >Nunc commodo in turpis at accumsan. Pellentesque vestibulum
                    tellus non urna finibus, eget hendrerit nibh finibus. Mauris
                    lacinia rhoncus justo porttitor aliquam. Praesent eget
                    vestibulum mi. Vestibulum cursus sapien at nibh rhoncus
                    pellentesque. Sed lobortis ultrices lectus. In hac habitasse
                    platea dictumst. Ut ultricies, ipsum in suscipit sagittis,
                    neque neque tempus leo, vel cursus lectus ex sit amet sem.
                    Phasellus commodo, nibh in porttitor varius, nisi libero
                    molestie tellus, nec porttitor eros nunc vitae justo.
                    Suspendisse posuere condimentum eros, vel fermentum tellus
                    ultricies eget. Nullam a condimentum massa.
                  </small>
                </p>
              </td>
            </tr>
          </tfoot>
        </table>

        <table>
          <caption>
            Table with complicated rowspan and colspan layout with
            <code>headers</code>
            attributes
          </caption>
          <thead>
            <tr>
              <th scope="col" id="filler1"><p>Filler text 1</p></th>
              <th scope="col" id="filler2">
                <p>Additional filler text 2</p>
              </th>
              <th scope="col" id="th-explanation"><p>Explanation</p></th>
              <th scope="col" id="filler4"><p>More filler text 4</p></th>
              <th scope="col" id="filler5">
                <p>Final filler text column 5</p>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <p>
                  <strong>1</strong> Aenean metus nisl, finibus non massa ut,
                  aliquet commodo erat.
                </p>
              </td>
              <td>
                <p>
                  <strong>2</strong> Quisque pellentesque arcu lacus, sed
                  dignissim enim auctor non.
                </p>
              </td>
              <td headers="th-explanation">
                <p>
                  <strong
                    >When a table has a complicated layout which includes
                    <code>colspan</code> and <code>rowspan</code> attributes,
                    it's challenging for the JavaScript to work out which header
                    cell corresponds to which data cell.
                  </strong>
                </p>
              </td>
              <td>
                <p>
                  <strong>4</strong> Nullam vitae quam scelerisque, congue massa
                  vitae, aliquam ipsum.
                </p>
              </td>
              <td>
                <p>
                  <strong>5</strong> Nam quis nunc a ligula faucibus euismod a
                  hendrerit velit.
                </p>
              </td>
            </tr>
            <tr>
              <td>
                <p>
                  <strong>1</strong>
                  Aliquam erat volutpat. Pellentesque posuere accumsan viverra.
                  Proin vulputate nisi lectus.
                </p>
              </td>
              <td colspan="2" headers="th-explanation">
                <p>
                  <strong
                    >In order to achieve this, the JavaScript would need to loop
                    over the table cells and take a note of any
                    <code>colspan</code> and <code>rowspan</code> attributes,
                    then take them into account when mapping them to the header
                    cells.</strong
                  >
                </p>
              </td>
              <td>
                <p>
                  <strong>4</strong>
                  This cell will be mislabeled as <q>Explanation</q> because of
                  the preceeding sibling's <code>colspan</code> attribute.
                </p>
              </td>
              <td>
                <p>
                  <strong>5</strong>
                  This cell will also be mislabeled.
                </p>
              </td>
            </tr>
            <tr>
              <td>
                <p>
                  <strong>1</strong> Mauris suscipit nibh id dignissim varius.
                </p>
              </td>
              <td>
                <p><strong>2</strong> Aliquam erat volutpat.</p>
              </td>
              <td colspan="2" rowspan="2" headers="th-explanation">
                <p>
                  <strong
                    >Luckily,
                    <a
                      href="https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/td#headers"
                      >the <code>headers</code> attribute</a
                    >
                    can be used to explicitly associate the cell with the header
                    cell. This will be checked first by the JavaScript and
                    (assuming the associated <code>ID</code> corrisponds to a
                    valid element) will be used in preference to the
                    automatically generated label.</strong
                  >
                </p>
              </td>
              <td headers="filler5">
                <p>
                  <strong>5</strong>
                  This cell will be correctly labelled but only because of an
                  explicit <code>headers</code> attribute.
                </p>
              </td>
            </tr>
            <tr>
              <td>
                <p>
                  <strong>1</strong>
                  Duis dapibus ante urna, quis facilisis augue elementum ac.
                </p>
              </td>
              <td>
                <p>
                  <strong>2</strong>
                  Duis laoreet justo leo, sit amet bibendum est pretium sed.
                </p>
              </td>
              <td headers="filler5">
                <p>
                  <strong>5</strong>
                  This cell will be correctly labelled but only because of an
                  explicit <code>headers</code> attribute.
                </p>
              </td>
            </tr>
            <tr>
              <td>
                <p>
                  <strong>1</strong> Aenean metus nisl, finibus non massa ut,
                  aliquet commodo erat.
                </p>
              </td>
              <td>
                <p>
                  <strong>2</strong> Quisque pellentesque arcu lacus, sed
                  dignissim enim auctor non.
                </p>
              </td>
              <td rowspan="2" headers="th-explanation">
                <p>
                  <strong
                    >Because of the complexity of handling
                    <code>rowspan</code> columns, the JavaScript will probably
                    fail to associate the correct header cell with the data cell
                    when cells span multiple rows. It's expected that when this
                    type of cell is used, the surrounding cells will use the
                    <code>headers</code> attribute to connect up the data.
                  </strong>
                </p>
              </td>
              <td>
                <p>
                  <strong>4</strong> Nullam vitae quam scelerisque, congue massa
                  vitae, aliquam ipsum.
                </p>
              </td>
              <td>
                <p>
                  <strong>5</strong>
                  Nam quis nunc a ligula faucibus euismod a hendrerit velit.
                  Aenean orci arcu.
                </p>
              </td>
            </tr>
            <tr>
              <td>
                <p>
                  <strong>1</strong>
                  Because this cell appears before the <code>rowspan</code> cell
                  above, the automatic header labelling will work as expected.
                </p>
              </td>
              <td>
                <p>
                  <strong>2</strong>
                  Same with this cell.
                </p>
              </td>
              <td headers="filler4">
                <p>
                  <strong>4</strong>
                  This cell will be correctly labelled but only because of an
                  explicit <code>headers</code> attribute.
                </p>
              </td>
              <td headers="filler5">
                <p>
                  <strong>5</strong>
                  This cell will be correctly labelled but only because of an
                  explicit <code>headers</code> attribute.
                </p>
              </td>
            </tr>
          </tbody>
        </table>
      </article>
    </main>

    <module href="src/fragments/footer.html"></module>
  </body>
</html>
