// This list reset is useful for the multi level navigation and
// the crumbtrails
nav {
  li {
    position: static;

    &::before {
      display: none;
    }
  }

  a {
    text-decoration: none;
  }
}
