// Tabs
nav {
  p {
    display: flex;
    gap: var(--gutter);

    a {
      background: var(--tint1);
      display: block;
      flex-wrap: wrap;
      padding: calc(var(--gutter) / 2) var(--gutter);
    }
  }
}

// Each tab takes the width of its content
nav {
  p[aria-roledescription="carousel"] {
    a[aria-roledescription="slide"] {
      flex-wrap: nowrap;
      flex: auto 0 0;
    }
  }
}
