@use '../_mixins';

// This is a hidden version of the main navigation whose purpose is to work out
// if the main navigation will wrap or not
// These styles will need to follow closely what the default horizontal layout
// should look like.
header nav ul[data-js="spacer-nav"] {
  @extend %main-nav-shared;
  left: 0;
  pointer-events: none;
  position: absolute;
  visibility: hidden;
  z-index: -1;
}
