@use '../_mixins';
@use '_main-spacer.scss';

// Stylesheet for the main navigation, which switches between horizontal
// and vertical, depending upon if the top level needs to wrap or not
// Horizontal style
[data-layout="horizontal"] {
  @extend %main-nav-shared;
  //margin: calc(var(--gutter) * -1) 0;
  position: relative;

  & > li {
    padding: var(--gutter);

    // Subnav mega-menus
    & > ul {
      columns: var(--nav-columns);
      column-gap: var(--gutter);
      left: 0;
      opacity: 1;
      position: absolute;
      right: 0;
      top: 100%;
      transform-origin: 0 0;
      transition: all .5s;
      z-index: 1;

      &[hidden] {
        opacity: 0;
        transform: scale(1, 0);
        display: block;
      }

      // See developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-reduced-motion
      @media (prefers-reduced-motion) {
        &[hidden] { display: none; }
      }
    }
  }
}

[data-layout="vertical"] {
  background: var(--tint3);
  left: 0;
  padding: var(--gutter);
  position: absolute;
  top: 0;
  transform: translate(0, 0);
  transition: all .5s;
  width: calc(100% - (var(--gutter) * 3));

  &[hidden] {
    display: block;
    transform: translate(-100%, 0);
  }
  @media (prefers-reduced-motion) {
    &[hidden] { display: none; }
  }
}

// Mobile first - vertical layout
header {

  & > nav {
    background: var(--tint2);
  }

  nav {
    align-items: flex-start;
    display: flex;
    justify-content: flex-end;
    // padding: var(--gutter);
    position: relative;

    ul {
      width: 100%;
    }
    li {
      align-items: center;
      display: flex;
      // We need the first level to wrap because this determines the horizontal
      // or vertical layout
      flex-wrap: wrap;
      gap: 0 var(--gutter);

      // This ensures that there's always room for the button which toggles the
      // sub-navigation to appear on the same line on mobile
      a, strong {
        flex-basis: calc(100% - (var(--gutter) * 2));
      }
      // Marking when the user has opened a sub-navigation
      // This verges dangerously close to adding classes, but just of a different
      // type as the `data-selected` attribute is added and removed by JavaScript
      // and not used to identify the list item. I originally used the next-sibling
      // selector and switched the order of `button` and `a` in the markup but
      // this would have limited the layout without some tricky CSS. This maintains
      // the spirit of what I set out to do, in that the markup itself doesn't have
      // classes and this is added automatically.
      &[data-selected="true"] { background: var(--tint1); }

    }
    // Navigation toggle buttons
    // Animates between v and ^
    button {
      appearance: none;
      background: transparent;
      border: none;
      color: inherit;
      cursor: pointer;
      height: var(--gutter);
      overflow: visible;
      padding: 0;
      position: relative;
      width: var(--gutter);

      &:before, &:after {
        background: var(--bodytext);
        content: "";
        height: var(--keyline);
        position: absolute;
        top: calc(50% - (var(--keyline) / 2));
        transition: all .5s;
        width: 50%;
      }

      // \
      &:before {
        left: 0;
        transform: skew(0, 30deg);
      }
      // /
      &:after {
        left: 50%;
        transform: skew(0, -30deg);
      }
      &[aria-expanded="true"] {
        // /
        &:before { transform: skew(0, -30deg); }
        // \
        &:after { transform: skew(0, 30deg); }
      }

      // Burger menu
      &[data-js="mainnav-toggle"] {
        border-bottom: solid var(--keyline) var(--bodytext);
        border-top: solid var(--keyline) var(--bodytext);
        margin: var(--gutter);
        transition: all .5s;

        // Resetting ^ & v to --
        &:before, &:after {
          left: 0;
          transform: skew(0, 0);
          width: var(--gutter);
        }

        // ×
        &[aria-expanded="true"]{
          border-color: transparent;
          &:before { transform: scale(1, 1.4) rotate(35deg); }
          &:after { transform: scale(1, 1.4) rotate(-35deg); }
        }
      }
    }

    li {

      [aria-expanded="true"] {
        background: var(--tint1);
      }

      // Second level navigation
      ul {
        background: var(--tint1);
        padding: var(--gutter);
        transform: scale(1, 1);
      }
    }
  }
}