@use '../_mixins';
@use '_main-spacer.scss';

// Main navigation, horizontal style
[data-js="spacer-nav"][data-wrap="1"] {
  // Main navigation
  & + ul {
    @extend %main-nav-shared;

    // Subnav mega-menus
    ul {
      left: 0;
      opacity: 0;
      position: absolute;
      right: 0;
      top: 100%;
    }
  }

  // Burger menu
  & ~ [data-js="mainnav-toggle"] {
    display: none;
  }
}

// Navigation
header nav {
  align-items: flex-start;
  display: flex;
  justify-content: flex-end;
  position: relative;

  ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  ul { width: 100%; }
  li {
    display: flex;
    flex-wrap: wrap;

    a { flex-grow: 1; }
  }
  // Navigation toggle buttons
  // Most take the form where they animate between + and --
  button {
    appearance: none;
    background: transparent;
    border: none;
    color: inherit;
    cursor: pointer;
    height: var(--gutter);
    overflow: visible;
    padding: 0;
    position: relative;
    width: var(--gutter);

    &:before, &:after {
      background: var(--bodytext);
      content: "";
      position: absolute;
      transition: all .5s;
    }
    // |
    &:before {
      height: var(--gutter);
      left: calc(50% - (var(--keyline) / 2));
      top: 0;
      width: var(--keyline);
    }
    // --
    &:after {
      height: var(--keyline);
      left: 0;
      top: calc(50% - (var(--keyline) / 2));
      width: var(--gutter);
    }
    // + becomes -
    &[aria-expanded="true"]:before { transform: scale(1, 0); }

    // Burger menu
    &[data-js="mainnav-toggle"] {
      border-bottom: solid var(--keyline) var(--bodytext);
      border-top: solid var(--keyline) var(--bodytext);
      margin: calc(var(--gutter) / 2) 0;
      transition: all .5s;

      // Resetting | to --
      &:before {
        height: var(--keyline);
        left: 0;
        top: calc(50% - (var(--keyline) / 2));
        width: var(--gutter);
      }

      // ×
      &[aria-expanded="true"]{
        border-color: transparent;
        &:before { transform: scale(1, 1.4) rotate(35deg); }
        &:after { transform: scale(1, 1.4) rotate(-35deg); }
      }
    }
  }
}
