// Navigation
header nav {
  ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  ul { width: 100%; }
  li {
    display: flex;
    flex-wrap: wrap;

    a { flex-grow: 1; }
  }
  // Navigation toggle buttons
  button {
    appearance: none;
    background: transparent;
    border: none;
    color: inherit;
    cursor: pointer;
    height: var(--gutter);
    overflow: visible;
    padding: 0;
    position: relative;
    width: var(--gutter);

    &:before, &:after {
      background: var(--bodytext);
      content: "";
      position: absolute;
    }
    // |
    &:before {
      height: var(--gutter);
      left: calc(50% - (var(--keyline) / 2));
      top: 0;
      transition: all .5s;
      width: var(--keyline);
    }
    // --
    &:after {
      height: var(--keyline);
      left: 0;
      top: calc(50% - (var(--keyline) / 2));
      width: var(--gutter);
    }
    // + becomes -
    &[aria-expanded="true"]:before { transform: scale(1, 0); }
  }
}
