@use "../vars-sass" as v;
@use "../mixins/carousel-inputs.scss";

// Tabs
[role="tablist"] {
  display: flex;
  flex-wrap: wrap;
  margin: 0 var(--gutter) calc(var(--keyline) * -0.5);

  // Tab buttons
  [role="tab"] {
    background: var(--tint1);
    border: solid var(--keyline) var(--bodytext);
    border-radius: calc(var(--cta-radius) / 2) calc(var(--cta-radius) / 2) 0 0;
    font-style: normal;
    font-weight: var(--bodytext-weight);
    line-height: var(--bodytext-line-height);
    margin: 0 calc(var(--keyline) / -4) calc(var(--keyline) * -0.5);
    padding: calc(var(--gutter) / 2) var(--gutter);
    text-align: center;
    overflow-wrap: normal;
    hyphens: manual;

    &[aria-selected="true"] {
      background: var(--background);
      border-bottom-color: var(--background);
    }

    &:hover,
    &:focus {
      @extend %carousel-focus !optional;
    }

    // Hiding the > chevron
    &::after {
      display: none;
    }
  }
}

// Tab panels
[role="tabpanel"] {
  border: var(--keyline) solid var(--bodytext);
  border-radius: calc(var(--cta-radius) / 2);
  display: block;
  padding: var(--gutter);

  &[hidden] {
    display: none;
  }
}

// If the browser supports scroll-marker-group, the tabs will be inside
// a carousel to avoid wrapping.
@supports (scroll-marker-group: after) {
  @media (prefers-reduced-motion: no-preference) {
    [role="tablist"] {
      scroll-behavior: smooth;
    }
  }

  [role="tablist"] {
    flex-wrap: nowrap;
    margin: 0 calc(var(--small-btn-size) + var(--gutter))
      calc(var(--keyline) * -1);
    overflow: hidden;
    scroll-snap-type: x mandatory;

    [role="tab"] {
      scroll-snap-align: center;
      white-space: nowrap;
    }

    &::scroll-button(*) {
      aspect-ratio: 1;
      font-size: var(--largetext-size);
      transform: translate(0, calc((100% + (var(--gutter) / 2)) * -1));

      &:disabled {
        opacity: var(--disabled);

        &:hover {
          background: var(--tint2);
          cursor: not-allowed;
          outline: none;
        }
      }

      &:hover,
      &:focus-visible {
        cursor: pointer;
        @extend %carousel-focus !optional;
      }
    }

    &::scroll-button(left) {
      content: "⟪";
      float: left;
    }

    &::scroll-button(right) {
      content: "⟫";
      float: right;
    }
  }
}
