@use "../vars-sass" as v;

// Tabs
[role="tablist"] {
  display: flex;
  flex-wrap: wrap;
  margin: 0 var(--gutter) calc(var(--keyline) * -0.5);
  // overflow-y: hidden;
  // overflow-x: auto;

  // Tab buttons
  [role="tab"] {
    background: var(--tint1);
    border: solid var(--keyline) var(--bodytext);
    border-radius: calc(var(--cta-radius) / 2) calc(var(--cta-radius) / 2) 0 0;
    font-style: normal;
    font-weight: var(--bodytext-weight);
    line-height: var(--bodytext-line-height);
    margin: 0 calc(var(--keyline) / -4) calc(var(--keyline) * -0.5);
    padding: calc(var(--gutter) / 2) var(--gutter);
    text-align: center;
    overflow-wrap: normal;
    hyphens: manual;

    &[aria-selected="true"] {
      background: var(--background);
      border-bottom-color: var(--background);
    }

    &:hover,
    &:focus {
      background: var(--background);
      outline: dotted var(--keyline) var(--bodytext);
      outline-offset: calc(var(--gutter) * -0.5);
    }

    &:after {
      display: none;
    }
  }
}

// Tab panels
[role="tabpanel"] {
  border: var(--keyline) solid var(--bodytext);
  border-radius: calc(var(--cta-radius) / 2);
  padding: var(--gutter);

  &[hidden] {
    display: none;
  }
}

// If the browser supports scroll-marker-group, the tabs will be inside
// a carousel to avoid wrapping.
@supports (scroll-marker-group: after) {
  @media (prefers-reduced-motion: no-preference) {
    [role="tablist"] {
      scroll-behavior: smooth;
    }
  }

  [role="tablist"] {
    anchor-name: --tabs;
    flex-wrap: nowrap;
    margin: 0 var(--btn-size) calc(var(--keyline) * -0.5);
    overflow: hidden;
    padding: 0 var(--gutter);
    scroll-snap-type: x mandatory;

    [role="tab"] {
      scroll-snap-align: center;
    }

    &::scroll-button(*) {
      aspect-ratio: 1;
      position: fixed;
      position-anchor: --tabs;

      &:disabled {
        opacity: var(--disabled);

        &:hover {
          cursor: not-allowed;
          outline: none;
        }
      }

      &:hover,
      &:focus-visible {
        cursor: pointer;
        background: var(--background);
        outline: dotted var(--keyline) var(--bodytext);
        outline-offset: calc(var(--gutter) * -0.5);
      }
    }

    &::scroll-button(left) {
      content: "⟪";
      position-area: center left;
    }

    &::scroll-button(right) {
      content: "⟫";
      position-area: center right;
    }
  }
}
