@use "../vars-sass" as v;

// Tabs
nav {
  p {
    display: flex;
    flex-wrap: wrap;

    a,
    em {
      background: var(--tint1);
      border: solid var(--keyline) var(--bodytext);
      border-radius: calc(var(--cta-radius) / 2) calc(var(--cta-radius) / 2) 0 0;
      font-style: normal;
      margin: 0 calc(var(--keyline) / -4) calc(var(--keyline) * -1);
      padding: calc(var(--gutter) / 2) var(--gutter);
      text-align: center;
      overflow-wrap: normal;
      hyphens: manual;
    }

    em {
      background: var(--background);
      border-bottom-color: var(--background);
    }

    a:hover,
    a:focus {
      background: var(--tint2);
    }
  }
}

// Each tab takes the width of its content
nav {
  p[aria-roledescription="carousel"] {
    flex-wrap: nowrap;
    a,
    em {
      &[aria-roledescription="slide"] {
        flex-wrap: nowrap;
        flex: auto 0 0;
        margin: 0 calc(var(--keyline) / -4);
      }
    }
  }
}

@media (width < v.$site-width) {
  nav {
    // Usually, the flexbox grid stops working below this point
    p[aria-roledescription="carousel"] {
      gap: 0;
    }
  }
}
