@use 'vars-sass' as v;

// Grid
// `div`s act as row elements. In order to cancel this behaviour, nest one
// `div` inside another.
@media (width < v.$content-width) {
  div {
    display: flex;
    gap: var(--gutter);
    & > div { display: block; }
    & > * { flex: 1; }
  }
}

// Enforcing a content width. `header` and `footer` are exempt so they
// can spread out.
body {
  & > aside,
  & > article,
  & > details,
  & > form,
  & > main,
  & > section {
    margin: 0 auto;
    max-width: var(--site-width);
    padding: var(--gutter);
  }
}
