body {
  background: var(--background);
  color: var(--bodytext);
  line-height: var(--line-height);
  margin: 0;
  font-family: var(--fallback-font);
  padding: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}
