@use 'vars-sass' as v;

body {
  background: var(--background);
  color: var(--bodytext);
  font-family: "Source Sans 3", var(--fallback-font);
  font-size: var(--bodytext-dt-size);
  font-weight: var(--bodytext-weight);
  line-height: var(--bodytext-dt-line-height);
  margin: 0;
  padding: 0;
}

@media (width < v.$mob-width) {
  body {
    font-size: var(--bodytext-mob-size);
  }
}

*, *:before, *:after {
  box-sizing: border-box;
}
