body {
  background: var(--background);
  color: var(--bodytext);
  font-family: "Source Sans 3", var(--fallback-font);
  font-size: var(--bodytext-size);
  font-weight: var(--bodytext-weight);
  line-height: var(--bodytext-line-height);
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}
