:root {
  --fallback-font: "-apple-system", BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --monospaced-font: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Mono", "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Consolas", "Courier New", monospace;
  --gutter: 1rem;
  --keyline: 2px;
  --bodytext: #111;
  --background: #eee;
  --line-height: 1.5;
  --nav-columns: 3;
  --content-width: 80rem;

  // Need to look into how tints are handled in the future
  --tint1: #ddd;
  --tint2: #ccc;
  --tint3: #bbb;
  --tint4: #aaa;
  --tint5: #999;
}
