:root {
  --fallback-font: "-apple-system", BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --monospaced-font: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Mono", "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Consolas", "Courier New", monospace;
  --gutter: 1rem;
  --keyline: 2px;
  --bodytext: #111;
  --bodytext-dt-size: 1.125rem; // 18px
  --bodytext-mob-size: 1rem; // 16px
  --bodytext-weight: 420; // Not a drugs reference
  --background: #eee;
  --bodytext-dt-line-height: 1.5;
  --nav-columns: 3;
  // Width of the `main` element
  --site-width: 80rem;
  // Sensible widest content width
  --content-width: 60rem;
  // For width values used in media queries, see `_vars-sass.scss`

  // Need to look into how tints are handled in the future
  --tint1: #ddd;
  --tint2: #ccc;
  --tint3: #bbb;
  --tint4: #aaa;
  --tint5: #999;
}
