:root {
  --fallback-font: "-apple-system", BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --gutter: 1rem;
  --keyline: 2px;
  --bodytext: #111;
  --background: #eee;
  --nav-columns: 3;
}
